* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.cff text eol=lf
*.csv text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
